---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Smile Gallery">
  <main>
    <h1>Smile Gallery</h1>
    <p>See real patient transformations.</p>
  </main>
</MainLayout>
