---
import Layout from "../components/Layout.astro";
---

<Layout title="Optimal Dental Solutions">
  <h1>Optimal Dental Solutions</h1>
  <p>Operations. Staffing. Automation. Excellence.</p>
</Layout>
